html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

body>.container {
    padding: 60px 15px 0;
}

.left {
  float: left;
}
.right {
  float: right;
}

/* General use overlay */

.overlay {
    display: none;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 0.85;
}

.hidden {
    display: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    color: #fbfcfc;
    background-color: #17202a;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.box {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.boxLink {
    cursor: pointer;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

.boxLink:hover {
    background-color: #EBF5FB;
}

.boxLink .panel-body {
    padding: 15px 30px 15px 15px;
}

.boxLink .deleteBtn {
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.panel .panel-title {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .panel.entityCreate .panel-title {
        margin-left: 17%;
    }
}

.panel .panel-viewEdit {
    margin-left: 5px;
}

.panel .panel-viewEdit textarea {
    vertical-align: top;
}

.btn-group {
    margin-bottom: 20px;
}

.panel .btn-group {
    margin-top: 30px;
    margin-bottom: 0;
}

.alert {
    z-index: 4;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 1000ms ease-in-out;
    -moz-transition: opacity 1000ms ease-in-out;
    -o-transition: opacity 1000ms ease-in-out;
    transition: opacity 1000ms ease-in-out;
}

.alert.hidden {
    opacity: 0;
    filter: alpha(opacity=0);
}

.panel .alert {
    position: fixed;
    top: 29%;
    width: 50%;
    margin-left: 25%;
}

.dialog .panel .alert {
    margin-left: 0;
    width: 46%;
}

.listHeader {
    margin: 10px 0;
}
.listToggle {
    text-align: right;
}
.listToggle .btn {
    margin-top: -4px;
}
.listToggle .glyphicon {
    font-size: 24px;
}

.dropdown-menu>li>a.active {
    background-color: #EBF5FB;
}
