/*********** DIALOG ************/

.hidden {
  display: none;
}

.dialog-container {
  z-index: 5;
  position: fixed;
  top: 20%;
  left: 25%;
  width: 50%;
}

.dialog {
    background-color: #FFF;
    padding: 10px 0 20px;
    width: 100%;
    min-height: 200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.dialog .header-title {
    font-size: 1.75em;
    font-weight: 700;
    padding: 10px;
    text-align: center;
}

.dialog .content, .dialog .btn {
    padding: 5px 20px;
}

.dialog .content {
    min-height: 88px;
}

.dialog .bottomButtons {
  margin: 0 20px 5px 20px;
}

button.close.dialogTop {
    font-size: 2.5em;
    padding: 3px 10px;
}

.dialog .dialog-footer {
  padding: 0 10px;
  clear: both;
}

.dialog .panel {
  margin-bottom: 5px;
}
